/* -------------------------------Estyles NAV--------------------------------- */
#mainNav{
    margin-top: 10px;
}
#mainNav a {
    font-family: 'Vibur', cursive;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size:20px; 
    margin-left: 20px;
    color:black;
    opacity:0.5;
    z-index: -1;
}
#mainNav .navbar-brand{
    font-family: 'Vibur', cursive;
    font-size: 40px;
    font: bold;
    opacity:0.7;
    z-index: -1;
}
#mainNav a:hover{
    opacity:1;
    color: black;
    text-decoration: underline;
    font-size:21px;
}
#mainNav button{

color:white;
}

/* -------------------------------------STYLES SECTION HOME----------------------- */
.masthead {
    text-align: center;
    color: white;
    background-image: url("./imagenes/Decoración-de-dormitorio-moderno-Pavel-Vetrov.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    height:600px;
    opacity:0.8;
    z-index: -1; 
  }
 /* --------------------------------------SEARCH STYLES----------------------------------- */
  #search .form-control{
    margin: 10px;
    background: #f1f1f1;
    font-size: 20px;
    color: #4F6C81;
    padding: 20px 0px 20px 60px;
    border-radius: 10px;
}
  .search-icon{
    position: absolute;
    z-index: 90;
    top: 17px;
    left: 20px;
    font-size: 31px;
    color: #c3babaf5;
}
.search-chat{
    z-index: 90;
    top: 12px;
    font-size: 38px;
    color: #c3babaf5;
    position: relative;
}
  }
  .chat i{
      font-size: 50px;
      margin-top: 3px;
  }
  .buscador{
    background: white
}
 
  /* ----------------------------------------------------MENU STYLES--------------------------------------------- */
  .nav{
      background: white;
      
  }
  .nav a{
    color:#CFC8D2;
  }
  .nav a:hover{
      border-bottom: solid 2px black;
  }
/* ----------------------------------------------------STORE STYLES------------------------------------------------ */
  #tarjetas .card img{
      border-radius:100px;
      width: 200px;
      margin: auto;
      margin-top: 10px; 
      -webkit-box-shadow:0px 0px 20px 1px #bfbcc3;
     
  }
  #tarjetas .card {
    width: 250px;
    margin: auto;
    margin-top: 10px; 
    border-radius: 10px; 
    text-align: center;
    color: #5a7394;
    -webkit-box-shadow:0px 0px 20px 1px #bfbcc3;
}
#tarjetas .card button{
    color: white;
    font-size: 20px;
    background:#5a7394;  
    border-radius: 20px;
    width:100px; 
    padding: 5px;
    font-weight: 700;
}

#store{
    background:#eae6ef;
}  
  
.sales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    }

/* ------------------------------------------------------------------ESTYLE SALES---------------------------------------------------*/
.sales {
 margin: 20px;
}
.sales .card {
    border-radius: 20px;
}
.sales .card .card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}
.cards .image-cards img{
    width: 100px;
    border-radius: 100px;
}
.cards .text-cards{
    justify-content: left;
    width:250px;
    margin-top:10px;
}
.cards .cards-likes{
    flex-direction:column;
    margin-top:15px;
    color:#ffcf24;
}
.cards .cards-likes span{
    margin-left: 35px;
}
.cards .cards-likes button{
    color: white;
    font-size: 20px;
    background:#5a7394; 
    border-radius: 20px;
    width:100px; 
    padding: 5px;
    font-weight: 700;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 

}
.hot span{   
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 0 37px 0 200px;
    background-color:#ffcf24; 
    color: white;
    font-weight: bold;
     
}
.hot span p{   
    margin-top: 10px;
    margin-bottom: 1rem;
   transform:rotate(40deg); 
}

  #uno{
    background: white;
  }
  /* ---------------------------------------------MODAL----------------------------------------------------------------- */
 
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  
  .portfolio-modal .modal-content {
    text-align: center;
    background:#eae6ef;
  }  
  .portfolio-modal .modal-content button {
    cursor: pointer;
  }
  .portfolio-modal #close-img .close-modal:hover {
    opacity: 0.3;
  }
.modal-styles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    background:#eae6ef;
    }
.modal-styles .card {
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow:0px 0px 20px 1px #bfbcc3;
    height:auto;
    margin-top: 10px;
    }
.modal-styles .card p{
    text-align: initial;
    color: #bfbcc3;
    }   
.modal-styles .card h5{
    text-align: initial;
    color:#5a7394; 
    }   
.modal-styles .card h5 span{
    color:#ffcf24;
    }

#text-modal h2,p{
    text-align: center;
    }
#text-modal{
    padding: 15px;
    }
#text-modal h3{
    color:#5a7394;
    }
#text-modal p{
    color:#bfbcc3; 
    }
 #img-close img{
    opacity:0.7;
 } 
 
 #img-close button{
    margin-right:900px; 
    color: white;
    font-size:25px; 
    opacity: 0,7;
    border-radius:200px;
    background: #bdbebd;
    width:50px;
 } 
 #img-close h1{
    font-family: 'Vibur', cursive;
    font-size: 100px;
    font: bold;
    opacity:0.7;
    z-index: -1;
    margin-top: 50px;
 } 
/* ------------------------------------------------Page2-------------------------------- */
.cart-body{
    background-color: #eae6ef;
} 
/* --------------------------------------------------NAV OF CART PAGE-------------------------------------------------- */
.nav-car nav{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     color:#5a7394;
     background: white;
 }
 .nav-car a{
 color:#5a7394;
 margin: 30px;
 font-size: 20px;
 }
 /*---------------------------------------------- CART-BUY-SECTION---------------------------------------------------- */
 .cart-buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .cart-buy .buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height:200px; 
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius:20px;
    -webkit-box-shadow:0px 0px 20px 1px #bfbcc3;
 }
 .cart-buy .buy .buy-img{
    width: 200px;
    height: 170px; 
    background :url(./imagenes/colores-para-la-decoración-de-dormitorios-modernos.jpg);
    background-size: cover; 
 }
 .cart-buy .buy .buy-img2{
    width: 200px;
    height: 170px; 
    background :url(./imagenes/cuarto-moderno-diseño-minimalista.jpg);
    background-size: cover; 
 }
 /*---------------------------------------------- CART-BUY-SECTION TEXT---------------------------------------------------- */
 .text-buy-cart{
    width:240px;
    height:60px;
    color:#5a7394;     
 }
 .num-buy-cart{
    width:250px;
    height:30px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .num-buy-cart .price-cart{
     color: #ffcf24;
     font-size: 20px;
     padding: 5px;
     margin-top:2px;
 }
 .cont-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .cont-buy div {
    height: 25px;
    margin: 5px 15px 5px 15px;
  
 }
 .cont-buy i{
    color:#5a7394; 
    border:solid 1px #bdbebd;
      padding: 5px;
 }
 .cart-pay{
     background: white;
     padding-top: 10px;
    color:#5a7394;  
 }
.cart-pay h3{ 
    margin:30px;
    justify-content: center;
}
 .pay-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:30px 20px 30px 20px;
 }
.total-pay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    color:#5a7394;
}
/*---------------------------------------------- CART-BUY-SECTION BUTTON---------------------------------------------------- */
.pay-pay-pay{
    display: flex;
    justify-content: center; 
}
.pay-pay-pay button{
    border-radius: 40px;
    width: 200px;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #5a7394; 
    -webkit-box-shadow:0px 0px 20px 1px #bfbcc3;
}
.total-num span{
    color :#ffcf24;
    font-size:20px; 
}
hr{
    margin: 30px;
}
.cart-buy .buy .hot{ 
        position:absolute;
        right: 0;
        height: 50px;
        width: 50px;
        border-radius: 0 37px 0 200px;
        background-color:#ffcf24; 
        color: white;
        font-weight: bold;
}

/*------------------------------------ ESTILOS DEL MODAL DE MARCA------------------------------- */

/* MEDIA QUERYS DISEÑO-RESPONSIVO */
@media (max-width: 768px) {
    .nav a{
        color:#CFC8D2;
        margin-left: 10px;
        font-size: 15px;
        margin-right: 10px;
      }
      #tarjetas .card { 
        width: 150px;
        height: 250px;;
        }
     #tarjetas .card img{
       width: 50px;
            }   
  }

  @media (min-width: 768px) {
    .nav a{
        color:#CFC8D2;
        margin-left: 25px;
        font-size: 20px;
      }    
  }
